.navbar-nav {
  height: 10vh;
  width: 10vw;
  position: absolute;
  right: 3em;
  top: 1.5em;
  width: 18vw;
}

.navbar-nav-ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.navbar-nav-ul-li {
  margin: 0.6em 0.6em;
}

.navbar-nav-ul-li-link {
  color: black;
}

.navbar-nav-ul-li-link__admin {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateY(-0.2em);
}

.navbar-nav-ul-li-link__admin p {
  margin-left: 0.6em;
  font-size: 3vh;
  font-weight: 500;
  transform: translateY(0.5em);
  padding-bottom: 10px;
}

.navbar-nav-ul-li-link__admin i:hover {
  color: rgba(128, 128, 128, 0.385);
}

.bx-cog:hover {
  color: aqua;
}

.navbar-nav-ul-li-link i {
  font-size: 250%;
}

/*setting*/
.setting {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: left;
  transform: translate(-3em, 3em);
  border: 2px solid rgba(0, 0, 0, 0.436);
  border-radius: 10px;
  position: absolute;
  right: -3em;
  top: -2.9em;
  z-index: 1;
  background-color: white;
}

.setting ::selection {
  background: transparent;
  color: inherit;
}

.setting-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid rgba(0, 0, 0, 0.436);
  height: 5vh;
  width: 18vw;

}

.setting-block-navBar {
  border-top: none;
  height: 8vh;
}

.paperNo {
  font-size: 2.5vh;
}

.setting-block-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
  text-decoration: none;
}

.setting-block p {
  margin: 0;
  padding: 0 1em;
}

.setting-block-link p {
  padding-left: 0.5em;
  margin: 0;
  font-size: 2.5vh;
}

.setting-block-link i {
  font-size: 4vh;
}

.logOut .setting-block-link {
  color: red;
}

.AccountInfo .setting-block-link {
  color: black;
}
