.confirmPrinting-infor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.confirmPrinting-infor_choosePrinter, .confirmPrinting-infor_showInfor {
  border: 1px solid rgba(0, 0, 0, 0.275);
  width: 80%;
  margin-bottom: 2em;
  border-radius: 10px;
}

.building, .printer {
  padding: 1em 4em 1.5em 4em;
}

.building select, .printer select {
  padding: 0.4em;
  border: none;
  border-radius: 10px;
  background: #EDF5F4;
}

.confirmPrinting-infor_showInfor__DocInfor .col p,.confirmPrinting-infor_showInfor__DocInfor .col-6 p {
  margin: 0;
}

.confirmPrinting-infor_showInfor__fileName {
  border-bottom: 1px solid rgba(0, 0, 0, 0.275);
  padding: 1.5em 3.5em;
  font-weight: bold;
}

.confirmPrinting-infor_showInfor__DocInfor {
  padding: 1.5em 3.5em;
}

.confirmPrinting-infor_showInfor__DocInfor .col-6 {
  padding-right: 2em;
}

.confirmPrinting-infor_showInfor__DocInfor .col {
  margin-bottom: 1em;
  padding-right: 2em;
}

.confirmPrinting-infor_showInfor__DocInfor .detail {
  background: #EDF5F4;
  padding: 0.25em;
  border-radius: 10px;
}

.confirmPrinting-link__trigger {
  background: #0D99FF;
  border: none;
  border-radius: 10px;
  padding: 0.5em;
}

.confirmPrinting-infor_showInfor__DocInfor .title, .confirmPrinting-infor_choosePrinter label {
  font-size: 2.2vh;
  color: #333333;
}

.printer-img {
  width: 25%;
  height: 25%;
}
/*OTPcode*/

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.149);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1px);
  z-index: 3;
}

.OTPcode {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 15px;
  width: 20vw;
  height: 25vh;
}

.OTPcode-input {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 1.25em;
}

.OTPcode-input label {
  font-size: 2vh;
}

.OTPcode-input input {
  border-radius: 10px;
  margin-top: 0.3em;
  padding: 0.3em;
  width: 16vw;
  border: 2px solid rgba(0, 0, 0, 0.403);
}

.OTP-submit {
  width: 8vw;
  background: #4B9CFC ;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 0.5em;
}
