.Sidebar {
    background-color: #fff;
    align-self: stretch;
    display: flex;
    padding-bottom: 493px;
    flex-direction: column;
    color: #000;
    text-align: right;
    font: 500 24px Inter, sans-serif;
    max-width: 230px;
    max-height: 840px;
    margin-top: 5px;
}

.nav_Item {
    background-color: #fff;
    display: flex;
    gap: 11px;
    padding: 15px 10px 15px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    color: black;
}

a.nav_Item:hover {
    cursor: pointer;
    color: red;
}

.icon_ {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 32px;
    align-self: start;
}

.label_ {
    flex-grow: 1;
    width: 153px;
}
.nav_Item.active {
    background-color: #8B9373;
    color: white;
    border-radius: 10px;
}